:root {
  --main-color: blueviolet;
  --secondary-color: gold;
  --secondary-font-family: "Poppins", serif;
  --default-font-family: "Montserrat", sans-serif;
}
body {
  background-color: #fffffe;
  background-image: url(images/waves-haikei.svg);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: var(--default-font-family);
}
h1 {
  font-family: var(--secondary-font-family);
  text-shadow: 0px 0px 7px rgba(3, 3, 3, 0.5);
  color: #e2e1e1;
  font-size: 96px;
  margin: 75px;
}
h2 {
  font-family: var(--secondary-font-family);
  font-size: 48px;
}
.btn-branding {
  background-color: #6e4ba2;
  color: #e4e4e4;
}
.intro {
  font-size: 36px;
}
.logo {
  max-height: 40px;
}
.main-content {
  margin-top: 10px;
  text-align: center;
}
nav {
  padding: 15px 0;
}
nav ul {
  padding: 0;
  margin: 0;
}
nav li {
  display: inline;
  list-style: none;
  line-height: 42px;
  margin-left: 15px;
}
nav a {
  text-decoration: none;
  color: #e4e4e4;
  transition: all 100ms ease-in-out;
}
nav a:hover,
nav li.active a {
  color: var(--secondary-color);
}
