:root {
  --main-color: #846ea5;
  --secondary-color: #dbb845;
  --main-font-family: "Poppins", sans-serif;
  --secondary-font-family: "Sono", sans-serif;
}
body {
  background-color: #f4f3ec;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: var(--secondary-font-family);
  line-height: 25px;
}
h1 {
  font-family: var(--main-font-family);
  text-shadow: 0px 0px 7px rgba(212, 211, 211, 0.5);
  color: #303841;
  font-size: 56px;
}
h2 {
  font-family: var(--secondary-font-family);
  font-size: 28px;
  margin: 50px;
  font-weight: 100;
}
h3 {
  font-size: 24px;
  margin: 20px;
  color: black;
}
footer {
  background-color: #fcfafa;
  font-family: var(--secondary-font-family);
}
footer .social-links a:hover {
  background-color: var(--secondary-color);
  color: var(--main-color);
}
nav {
  background-color: var(--main-color);
  padding-right: 100px;
}
nav ul {
  padding: 0;
  margin: 0;
}
nav li {
  display: inline;
  list-style: none;
  line-height: 42px;
  margin-left: 15px;
}
nav a {
  text-decoration: none;
  color: #e4e4e4;
  transition: all 100ms ease-in-out;
}
nav a:hover,
nav li.active a {
  color: var(--secondary-color);
}
ul {
  list-style-type: none;
  text-align: center;
}
.about-headings {
  font-family: var(--main-font-family);
  text-align: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 35px;
  color: #303841;
  margin: 30px 0 30px 0;
}
.about-links {
  color: #846ea5;
  text-decoration: none;
  font-weight: bold;
}
.btn-branding {
  background-color: var(--main-color);
  color: #fffffe;
}
.card-deck {
  display: inline-block;
}
.container {
  display: inline;
  padding: 0;
  width: 100%;
}
.css-icon {
  color: rgb(0, 149, 255);
}
.email-link:hover {
  color: #846ea5;
}
.footer-quick-links {
  margin-top: 20px;
}
.footer-quick-links a {
  text-decoration: none;
  color: #846ea5;
  font-size: 14px;
}
.footer-quick-links a:hover {
  text-decoration: none;
  color: var(--secondary-color);
}
.html5-icon {
  color: #de5404;
}
.js-icon {
  color: #ecd501;
}
.main-content {
  background-color: #eae4d1;
  padding: 100px;
  text-align: center;
}
.quick-info {
  font-size: 16px;
  font-family: var(--secondary-font-family);
  margin: 55px 0 0 245px;
  width: 500px;
  color: rgb(82, 82, 82);
}
.react-icon {
  color: rgb(4, 210, 210);
}
.shecodes-imgs {
  width: 50px;
}
.skill-icons {
  font-size: 30px;
  width: 150px;
}
.small-header {
  font-family: var(--main-font-family);
  letter-spacing: 1px;
}
.social-icon {
  margin: 0 0 0 25px;
  color: white;
  background-color: var(--main-color);
  padding: 2px 6px;
  font-size: 18px;
  border-radius: 50%;
  transition: all 150ms ease-in-out;
}
