:root {
  --main-color: #846ea5;
  --secondary-color: #eae4d1;
  --main-font-family: "Yeseva One", cursive;
  --secondary-font-family: "Poppins", sans-serif;
}
body {
  background-image: url(/images/purple_tan_layered-waves-haikei.svg);
  background-color: #fffdf6;
  background-repeat: no-repeat;
  background-size: contain;
  font-family: var(--secondary-font-family);
  line-height: 25px;
}
h1 {
  font-family: var(--main-font-family);
  text-shadow: 0px 0px 8px rgba(48, 48, 48, 0.5);
  color: #030303;
  font-size: 72px;
}
h2 {
  font-family: var(--secondary-font-family);
  font-size: 18px;
  font-weight: 300;
  color: #030303;
  line-height: 25px;
}
h3 {
  font-size: 24px;
  margin: 20px;
  color: #030303;
}
footer {
  background-color: #eae4d1;
  font-family: var(--secondary-font-family);
}
footer .social-links a:hover {
  background-color: var(--secondary-color);
  color: var(--main-color);
}
nav {
  background-color: var(--main-color);
  padding-right: 100px;
}
nav ul {
  padding: 0;
  margin: 0;
}
nav li {
  display: inline;
  list-style: none;
  line-height: 42px;
  margin-left: 15px;
}
nav a {
  text-decoration: none;
  color: #e4e4e4;
  transition: all 100ms ease-in-out;
}
nav a:hover,
nav li.active a {
  color: var(--secondary-color);
}
ul {
  list-style-type: none;
  text-align: center;
}
.about-headings {
  font-family: var(--secondary-font-family);
  text-align: left;
  font-size: 18px;
  font-weight: bold;
  line-height: 35px;
  color: #030303;
  margin: 30px 0 10px 0;
  text-decoration: underline;
}
.about-links {
  color: #846ea5;
  text-decoration: none;
  font-weight: bold;
}
.btn-contact {
  background-color: #846ea5;
  color: #fffffe;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 20px;
  border-radius: 1px;
  margin-top: 6px;
  width: 400px;
}
.btn-contact:hover {
  background-color: var(--secondary-color) !important;
}
.btn-work-links {
  background-color: var(--main-color);
  color: #fffffe;
  font-size: 14px;
  line-height: 27px;
  padding: 5px 10px;
  border-radius: 1px;
  width: 48%;
}
.card-deck {
  display: inline-block;
}
.column-1-index {
  margin-top: 100px;
  margin-bottom: 150px;
  width: 40%;
  margin-left: 130px;
  text-align: center;
}
.column-2-index {
  margin-top: 100px;
  margin-bottom: 150px;
  width: 40%;
}
.column-1-aboutme {
  width: 50%;
  margin-left: 130px;
}
.column-2-aboutme {
  width: 30%;
}
.contact-box {
  background-color: #d5cfde;
  padding: 30px 120px;
  margin: 50px auto;
  width: 85%;
}
.contact-box p {
  margin: 0px;
}
.container {
  display: inline;
  padding: 0;
  width: 100%;
}
.description-title {
  font-family: "Yeseva One", cursive;
  font-size: 42px;
  text-shadow: 0px 0px 8px rgba(48, 48, 48, 0.3);
}
.email-link:hover {
  color: #846ea5;
}
.fa-bootstrap {
  color: #7952b2;
}
.fa-css3-alt {
  color: rgb(0, 149, 255);
}
.fa-html5 {
  color: #de5404;
}
.fa-square-js {
  color: #ecd501;
}
.footer-quick-links {
  margin-top: 20px;
}
.footer-quick-links a {
  text-decoration: none;
  color: #846ea5;
  font-size: 14px;
}
.footer-quick-links a:hover {
  text-decoration: none;
  color: var(--secondary-color);
}
.laptop-image {
  font-size: 272px;
  color: #846ea5;
  transform: rotate(345deg);
}
.main-content {
  padding: 150px;
  text-align: center;
}
.main-description-text {
  margin-top: 150px;
  margin-left: 850px;
  margin-bottom: 150px;
  text-align: left;
  width: 550px;
  text-shadow: 0px 0px 7px rgba(212, 211, 211, 1);
}
.preview-imgs {
  width: auto;
}
.project-section {
  width: 75%;
  margin: 0 auto;
}
.quick-info {
  font-size: 16px;
  font-family: var(--secondary-font-family);
  color: rgb(82, 82, 82);
}
.react-icon {
  color: rgb(4, 210, 210);
}
.row {
  display: flex;
  flex-direction: row;
}
.shecodes-imgs {
  width: 50px;
}
.signature {
  text-align: right;
  font-family: "Sacramento", cursive;
  text-shadow: 0px 0px 7px rgba(212, 211, 211, 1);
  color: #030303;
  font-size: 56px;
}
.skill-icons {
  font-size: 30px;
  width: 150px;
}
.small-header {
  font-family: var(--main-font-family);
  letter-spacing: 1px;
}
.social-icon {
  margin: 0 0 0 30px;
  color: #fffffe;
  background-color: var(--main-color);
  padding: 5px 8px;
  font-size: 18px;
  border-radius: 50%;
  transition: all 150ms ease-in-out;
}
.work-header {
  font-size: 32px;
}
.work-projects {
  margin: 0 auto;
  width: 90%;
}
